// Font Styling Starts

h1 {
    font-size: 5.3rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 6rem;
    font-weight: 700;
}

h2 {
    font-family: $font-stack;
    line-height: 3.125rem;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0.4em;
}

// .big-h2 {
//     font-size: 6rem;
//     line-height: 1;
// }

h3 {
    font-family: $font-stack-bold;
    font-size: 2rem;
    margin-top: 1em;
}

// .big-h3 {
//     font-family: $font-stack-bold;
//     font-size: 2rem;
//     margin-bottom: 0.5em;
// }

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.25em;
}

.service-name {
    font-size: 1.75rem;
    margin-bottom: 0.9em;
}

.service-h1 {
    color: $pixel-black;
    max-width: 65vw;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

p {
    font-family: $font-stack;
    font-size: 1.1rem;
    line-height: 1.9rem;
}

.white-font {
    color: $pixel-white;
}

.service-title {
    color: green;
}

.large-text {
    color: $pixel-white;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 700;
}

.section-title {
    font-size: 3.125rem;
    text-align: left;
    margin-bottom: 1em;
}