.home-hero {
    height: 100vh;
    width: 100%;
    background-image: url("../public/assets/pixelbypixel-homepage-hero.jpg");
    background-attachment: fixed;
}

.home-hero:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.55);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-text {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding-top: 4em;
}

.hero-text-wrap {
    max-width: 75vw;
    margin: auto;
}

.home-h1 {
    color: $pixel-white;
    font-size: 6rem;
    line-height: 1.05;
    max-width: 75vw;
    text-align: left;
}

.home-intro {
    background-color: $pixel-white;
}

.home-container {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-intro-text {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 400;
    text-align: center;
}



.work-container {
    display: flex;
    padding-top: 1em;
    justify-content: center;
    column-gap: 2.4vw;
}

.our-services-images {
    border-radius: 25px;
    object-fit: cover;
}

.work-block {
    display: block;
    width: 25vw;
    background-color: $pixel-white;
    // box-shadow: 0 2px 28px 0 rgb(0 0 0 / 21%);
    // margin: 1.1em;
    padding: 0 0 4em 0;
}

.work-block-text {
    padding: 2.5em 0 2em 0;
}

.service-item-list {
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
    margin-left: 1vw;
    font-size: 1.2rem;
}

// start slider styling

.slider {
    height: 400px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(500px * 10);
    animation: scroll 35s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

.slide {
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 1.25em;
    perspective: 100px;
}

.slider-image {
    width: 100%;
    transition: transform 0.75s;
}

.project-outbox {
    position: relative;
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
}

.project-outbox:hover {
    transform: translateZ(12px);
    transition: all .65s ease 0s;
    -webkit-transition: all 0.65s ease 0s;
}

.project-inbox {
    padding: 20px;
    color: white;
    opacity: 0;
    background: rgba(1, 18, 61, 0.95);
    // mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
}

.project-inbox:hover {
    opacity: 100;
    transition: all .5s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
}

.project-inbox-header {
    margin-top: 0.8em;
    font-weight: 600;
    font-size: 1.45rem;
}

.project-inbox-text {
    margin-top: 1em;
    color: $pixel-white;
    font-weight: 500;
}

.project-inbox-tech {
    margin-top: 0.8em;
    color: $pixel-yellow;
    font-size: 0.8rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-500px * 5));
    }
}

// end slider styling

.customer-review-block {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // text-align: center;
    background-color: $pixel-white;
    position: relative;
    top: 50%;
    background-image: url("../public/assets/smiley-face.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    padding: 3em;
    border: 1px solid $pixel-grayborder;
    border-radius: 15px;
    margin: 0.5em;
}

.review-block-top {
    display: flex;
    justify-content: space-between;
}

.review-name {
    font-size: 1.5rem;
    margin-top: 4px;
    margin-bottom: 1.5em;
    font-weight: 600;
}

.navlink {
    text-decoration: none;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 160px;
}

.small-project-text {
    padding-top: 2px;
    font-size: 1rem;
}