// Navbar Starts

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 0.6em 13em;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $pixel-white;
        min-width: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
        z-index: 1;
        border-radius: 5px;
    }

    .dropdown-content a {
        float: none;
        color: $pixel-darkBlue;
        text-decoration: none;
        display: block;
        text-align: left;
        padding: 0.8em 1.5em;
        font-size: 1.1rem;
    }

    .dropdown-content a:hover {
        background-color: $pixel-blue;
        color: $pixel-white !important;
        transition: 0.2s ease-in-out;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown {
        font-size: 1.3rem;
        border: none;
        outline: none;
        color: $pixel-darkBlue;
        padding: 0.65em 1em 0px 0.8em;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        cursor: pointer;
    }

    .main-logo {
        margin-left: 1.5em;
        margin-top: 0.4em;
    }

    .main-nav {
        display: flex;
        padding: 0 1em;
        font-size: 1.5rem;
        align-items: center;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .dropdown:hover {
        color: $pixel-blue;
    }

    .main-nav a:hover {
        color: $pixel-blue;
        transition: 0.1s ease-in-out;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        color: $pixel-white;
        text-decoration: none;
    }

    .main-nav li,
    .dropdown {
        padding: 0em 1em;
        text-align: center;
        display: block;
        font-size: 1.5rem;
        color: $pixel-white;
    }

    .contact-us-btn {
        background-color: $pixel-white;
        color: $pixel-darkBlue;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: .2s ease-in-out;
        border: 2px solid $pixel-white;
        border-radius: 8px;

        &:hover {
            background-color: $pixel-blue;
            border: 2px solid $pixel-blue;
            color: $pixel-white;
        }
    }
}

header.active {
    background-color: $pixel-white;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: rgb(94 98 119 / 30%) 0 0 20px 2px;

    .contact-us-btn {
        background-color: $pixel-offBlack;
        color: $pixel-white;
        font-size: 1rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: .2s ease-in-out;
        border: 2px solid $pixel-darkBlue;

        &:hover {
            background-color: $pixel-blue;
            border: 2px solid $pixel-blue;
        }
    }

    .dropdown-content a:hover {
        background-color: $pixel-blue;
        color: $pixel-white;
        transition: 0.2s ease-in-out;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        color: $pixel-darkBlue;
        text-decoration: none;
    }

    .main-logo {
        content: url(../public/assets/PixelByPixel-weblogo.png);
        margin-left: 1.5em;
        margin-top: 0.4em;
        max-height: 100px;
    }

    .main-nav li,
    .dropdown {
        padding: 0em 1em;
        text-align: center;
        display: block;
        font-size: 1.5rem;
        color: $pixel-darkBlue;
        cursor: pointer;
    }

    .dropdown:hover {
        color: $pixel-blue;
        cursor: pointer;
    }

    .main-nav {
        display: flex;
        font-size: 1.5rem;
        padding: 0em 1em;
        align-items: center;
    }
}

// Navbar ends