// Primary fonts and colors

$font-stack: "proxima-nova", sans-serif;
// 400 and italic
$font-stack-bold: "proxima-nova", sans-serif;
// 700 and italic
$pixel-blue: #034ff3;
$pixel-blue-hover: #034ff3de;
$pixel-blue-hover2: #0943c2;
$pixel-darkBlue: #01133D;
$pixel-yellow: #ffd401;
$pixel-black: #030303;
$pixel-offBlack: #1a1a1a;
$pixel-gray: #7b8b9b;
$pixel-white: #fff;
$pixel-offwhite: #ececec;
$pixel-grayborder: rgba(0, 0, 0, 0.123);


@import "./navbar";
@import "./fonts";
@import "./casestudies";


@import "./home";
@import "./monthtomonth";
@import "./websitedesign";
@import "./graphicdesign";
@import "./aboutus";
@import "./contactus";


// The great reset 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $pixel-white;
    font: 100% $font-stack;
    color: $pixel-darkBlue;
}

// section {
//     padding: 6em 0;
// }

.white-section {
    background-color: $pixel-white;
    color: $pixel-offBlack;
    padding: 4em 0;
}

.white-section-line {
    border-top: 10px $pixel-blue solid;
    background-color: $pixel-white;
    padding-bottom: 3em;
}

.gray-section {
    background-color: $pixel-offwhite;
    color: $pixel-offBlack;
    padding: 4em 0;
}

.gray-section-line {
    border-top: 10px $pixel-blue solid;
    background-color: $pixel-white;
    padding-bottom: 3em;
}

.blue-section {
    background-color: $pixel-darkBlue;
    color: $pixel-white;
    padding-bottom: 6em;
}

.blue-section-line {
    border-top: 10px $pixel-white solid;
    background-color: $pixel-darkBlue;
    color: $pixel-white;
    padding: 12em 0em;
}


// Button Styling

.call-to-action-button {
    margin-top: 2em;
    padding: 1.5em 3em;
    font-size: 1.2em;
    font-weight: 500;
    border: 1px solid $pixel-white;
    transition: 0.3s;
    color: white;
    border-radius: 5px;
    background-color: $pixel-blue;
    cursor: pointer;
}

.call-to-action-button:hover {
    background-color: $pixel-blue-hover2;
    border-radius: 5px;
    cursor: pointer;
}

// .black-btn {
//     margin-top: 1em;
//     margin-right: 1em;
//     display: inline-block;
//     font-weight: 400;
//     color: $pixel-white;
//     text-align: center;
//     vertical-align: middle;
//     background-color: $pixel-darkBlue;
//     border: 1px solid transparent;
//     padding: 0.8rem 1.6rem;
//     font-size: 1rem;
//     line-height: 1.5;
//     border-radius: 0.25rem;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

//     &:hover {
//         color: $pixel-darkBlue;
//         background-color: $pixel-white;
//     }
// }


.white-btn {
    margin-top: 2em;
    display: inline-block;
    font-weight: 400;
    color: $pixel-darkBlue;
    text-align: center;
    vertical-align: middle;
    background-color: $pixel-white;
    border: 1px solid transparent;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
        color: $pixel-white;
        background-color: $pixel-darkBlue;
        cursor: pointer;
    }

}

// --------------------------

.black-btn {
    margin-top: 2em;
    margin-right: 1em;
    display: inline-block;
    font-weight: 700;
    color: $pixel-white;
    text-align: center;
    vertical-align: middle;
    background-color: $pixel-darkBlue;
    border: 1px solid transparent;
    padding: 0.8rem 1.6rem;
    font-size: 1.05rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
        color: $pixel-darkBlue;
        background-color: $pixel-white;
        cursor: pointer;
    }
}

.black-btn2 {
    margin-top: 2em;
    margin-right: 1em;
    display: inline-block;
    font-weight: 400;
    color: $pixel-white;
    text-align: center;
    vertical-align: middle;
    background-color: $pixel-darkBlue;
    border: 1px solid transparent;
    padding: 0.8rem 1.6rem;
    font-size: 1.05rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
        color: $pixel-white;
        background-color: $pixel-blue;
        cursor: pointer;
    }
}

.service-plans-button {
    color: $pixel-blue;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 500;
    background-color: $pixel-white;

    &:hover {
        color: $pixel-blue-hover;
    }
}

.link-arrow {
    // margin-top: 5em;
    margin-left: 0.8em;
}

.service-links {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

// Color Styling

.blue-dot {
    color: $pixel-blue;
}

.blue {
    color: $pixel-blue;
}

.call-to-action {
    background-color: $pixel-white;
    padding-top: 6em;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.container {
    width: 75vw;
    margin: auto;
}

.container2 {
    width: 64vw;
    margin: auto;
}

.footer-container {
    max-width: 100vw;
    margin: auto;
    padding: 8em;

}

.footer-container-content {
    width: 75vw;
    // margin: auto;
    display: table;
    // vertical-align: baseline;
}

.row {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.column {
    float: left;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1em 2em 1em 0em;
}

.column2 {
    float: left;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.column-no-padding {
    max-width: 50%;
    padding: 1em 2em 0em 0em;
}

.column img {
    // width: 100%;
}

.column-img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.latest-work {
    // opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 15px;
    color: white;
}

.centered {
    text-align: center;
    align-content: center;
    width: 100%;
    margin-top: 3em;
}

.centered2 {
    text-align: center;
    align-content: center;
    width: 100%;
    margin-bottom: 3em;
}

.centered3 {
    text-align: center;
    align-content: center;
    width: 100%;
}

.centered4 {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-three {
    float: left;
    width: 33.33%;
}

.column-four {
    float: left;
    width: 25%;
}

.column-six {
    float: left;
    width: 16.5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    color: $pixel-white;
    background-color: $pixel-black;
}

.footer-links {
    line-height: 2.2;
}

.service-header {
    min-height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-type {
    font-size: 1.3rem;
    color: $pixel-white;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 8px;
}

.service-title {
    color: $pixel-white;
}

.width-test {
    max-width: 60%;
}

.blackbox {
    background-color: $pixel-darkBlue;
    margin-top: -20vh;
    width: 30vw;
    height: 45vh;
    color: $pixel-white;
    padding: 4em;
    border-radius: 5px;
}

#footer-logo {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.portfolio-logos {
    max-width: 100%;
    margin: 3em;
}

footer p,
footer a {
    margin: 1em 0em;
    color: $pixel-white;
    font-size: 1.25rem;
    text-decoration: none;
}

.quick-links {
    padding-left: 4em;
}

.quick-links li {
    list-style: none;
    margin: 0.6em 0em;
}

.copyright {
    margin-top: 1em;
    font-size: 1rem;
    color: $pixel-gray;
}

footer h4 {
    font-size: 1.2rem;
}

.footer-headers {
    color: $pixel-gray;
    text-decoration: underline;
}

.footer-promo-text {
    font-size: 1rem;
}

.footer-up {
    float: right;
}

.footer-line {
    background-color: $pixel-blue-hover2;
    padding: 0.5em 0;
}

.black-line {
    background: $pixel-darkBlue;
    text-align: center;
    padding: 3em 0;

    h3 {
        color: $pixel-white;
    }
}